*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
}

    


body{
    background-color:black ;
}

a {
    color: black;
    text-decoration: none;
}
a :hover{
    color: rgb(74, 73, 73);
}

h1{
    color: beige;
    font-size: 500px;
    text-align: center;
    position: relative;
    top: 450px;
}


div.Intro{
  width: fill;
  height: 1800px;
  padding: 50px;
  margin: 0%;
  background-image : url(Image/Background1.jpg);
  background-size: cover;
  border-radius: 20px;
}


div.Presentation{
  width: fill;
  height: 1000px;
  border: 10px solid black;
  padding: 50px;
  margin: 0;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.titre_presentation{
    color: beige;
    font-size: 250px;
}
.txt_presentation{
    font-size: 100px;
    color: beige;
}


.Recettes_box{
    width: fill;
    height : 2000px;
    border: 10px solid black;
    background-color: beige;
    border-radius: 20px;
    margin-top: 10px;
}
.titre_recette{
    font-size: 250px;
    text-align: center;
    color: black;
    
}
.Type_recettes{
    font-size: calc(750px / 3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img_plats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
}
.img_entree{
    width: calc(70% / 3);
    height: 1000px;
    background-color: aqua;
    border: 0;
    background-image: url(Image/Salade.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 8px black;
}

.img_plat{
    width:calc(70% / 3);
    height:1100px;
    background-color: aqua;
    border: 0;
    background-image: url(Image/Burger.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 8px black;

}
.img_dessert{
    width: calc(70% / 3);
    height: 1000px;
    background-color: aqua;
    border: 0;
    background-image: url(Image/Brownie.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 8px black;
}


.Supplements_box{
    width: fill;
    height : 1800px;
    border: 0;
    background-color:black;
    border-radius: 20px;
    margin-top: 10px;
}
.titre_supplements{
    color: beige;
    font-size: 250px;
    text-align: center;
}
.type_supplements{
    color: beige;
    font-size: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img_supplements{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img_aperitif{
    width: calc(75% / 2);
    height: 1000px;
    background-color: aqua;
    background-image: url(Image/aperitifss.jpg);
    background-size: cover;
    border-radius: 45px;
}
.img_glace{
    width: calc(75% / 2);
    height: 1000px;
    background-color: aqua;
    background-image: url(Image/caramelice.jpg);
    background-size: cover;
    border-radius: 45px;
}


.Boissons_box{
    width: fill;
    height : 1650px;
    border: 10px solid black;
    background-color: beige;
    border-radius: 20px;
    margin-top: 10px;
}
.titre_boissons{
    text-align: center;
    color: black;
    font-size: 250px;

}
.type_boissons{
    font-size: calc(535px / 5);
    color: black;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 20px;
}
.img_boissons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img_cocktail{
    width: 800px;
    height: 950px;
    background-color: aqua;
    background-image:url(Image/COcktail.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_mocktail{
    width: 800px;
    height: 1000px;
    background-color: aqua;
    background-image:url(Image/Mocktail.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_smoothie{
    width: 800px;
    height: 1050px;
    background-color: aqua;
    background-image:url(Image/Smoothies.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_milkshake{
    width: 750px;
    height: 1000px;
    background-color: aqua;
    background-image:url(Image/milksh.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_bchaudes{
    width: 1000px;
    height: 950px;
    background-color: aqua;
    background-image:url(Image/Catfeecute.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
    

.festifs_box{
    width:fill ;
    height: 900px ;
    background-color: black;
    border:0 ;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10px;
}
.titre_festifs{
    color: beige;
    font-size: 250px;
    text-align: center;
}
.type_festifs{
    color: beige;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: calc(650px /4 );
}
.img_festifs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img_Halloween{
    width: 1000px;
    height: 300px;
    background-color: aqua;
    border-radius: 45px;
    background-image: url(Image/halloween.jpg);
    background-size: cover;
}
.img_Noel{
    width: 1000px;
    height: 300px;
    background-color: aqua;
    border-radius: 45px;
    background-image: url(Image/CHrismas.jpg);
    background-size: cover;
}
.img_Paque{
    width: 1000px;
    height: 300px;
    background-color: aqua;
    border-radius: 45px;
    background-image: url(Image/paque.jpg);
    background-size: cover;
}
.img_St-Valentin{
    width: 1000px;
    height: 300px;
    background-color: aqua;
    border-radius: 45px;
    background-image: url(Image/Macarons.jpg);
    background-size:cover ;
}

.Infos_box{
    width: fill;
    height:700px;
    background-color: beige;
    border-radius: 20px;
    border:10px solid black;
    margin-top: 10px;
}
.titre_infos{
    color: black;
    font-size: 300px;
    text-align: center;
}

.petites_box{
    display: flex;
    justify-content: space-evenly;
}
.gmail_box{
    width: 1100px;
    height: 200px;
    background-color: black;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 5px 5px 8px black;
}
.txt_g{
    color: beige;
    font-size: 100px;
}
.insta_box{
    width: 1100px;
    height: 200px;
    background-color: black;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 5px 5px 8px black;
}
.txt_i{
    color: beige;
    font-size: 95px;
}
.tt_box{
    width: 1100px;
    height: 200px;
    background-color: black;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 5px 5px 8px black;
}
.txt_tt{
    color: beige;
    font-size: 100px;
}
.fb_box{
    width: 1100px;
    height: 200px;
    background-color: black;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 5px 5px 8px black;
}
.txt_fb{
    color: beige;
    font-size: 95px;
}


.std2_box{
    width: fill;
    height: 2000px;
    background-color: beige;
    margin: 200px;
    border-radius: 20px;
}
.img_std2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 100px;
}
.img_entree1{
    width: 800px;
    height: 1000px;
    background-color: aqua;
    background-image:url(Image/entree1.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_entree2{
    width: 800px;
    height: 1000px;
    background-color: aqua;
    background-image:url(Image/entree2.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_entree3{
    width: 800px;
    height: 1000px;
    background-color: aqua;
    background-image:url(Image/entree3.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.img_entree4{
    width: 800px;
    height: 1000px;
    background-color: aqua;
    background-image:url(Image/entree4.jpg) ;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 8px black;
}
.voirplus{
    font-size: 200px;
    position: relative;
    top: 300px;
    left: 2600px;
    text-decoration: underline;
}
.voirplus:hover{
    color: blue;
}
.retour{
    font-size: 200px;
    position: relative;
    top: 300px;
    left: 300px;
    text-decoration: underline;
}